$codeBlockBackground: #282c34;

main {
  padding: 1.5rem
}

.code-block {
  background-color: black;
}

@import "../../../packagesges/ui/src/styles/main";

@import '~prismjs/themes/prism-tomorrow.css';


