/*
.modal-header {
  border-bottom: none;
}
.modal-title {
  font-weight: $font-weight-normal;
}
.modal-body {
  position: static;
}

.modal-footer {
  justify-content: space-between;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  .modal-cancel {
    background-color: $white;
  }
}
A
.modal-content {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

body.modal-open {
  overflow: hidden;
}*/
